* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.nav-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: linear-gradient(135deg, #ffffff, #e3e3e3);
    padding: 10px;
    color: black;
}

.main {
    
    background: linear-gradient(135deg, #c29aa1, #202470);
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
  flex-direction: column;
}

.container {
    border: 1px solid black;
    padding: 4rem;
    background-color: whitesmoke;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-shadow: 0 25px 31px rgba(0.5,0.5,0.5,0.5);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

h3 {
    color: #443e7b;
}

.taskInput {
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 40px;
}

.options {
    display: flex;
    justify-content: space-around;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4e457f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.button:focus {
    outline: none;
}

.button:active {
    transform: translateY(2px);
    box-shadow: none;
}

ul {
    line-height:2.5;
}

ul li {
    list-style: none;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(resources/checkbox-unchecked-svgrepo-com\ \(1\).png);
    background-size: cover;
    background-position: center;
    top: 16px;
    left: -30px;
    
    
}
ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(./resources/checked-checkbox-svgrepo-com.png);
}

.flex {
    display: flex;
    justify-content: space-between;
    
}

i {
    margin-right: 2rem;
    cursor: pointer;
    margin-left: 2rem;
}


